extends ../layout/index

block contenido
    div.py-4
        h1.text-center.text-4xl.my-6.font-extrabold Fin
            span.font-normal Ks
        h2.text-center.text-2xl= pagina

        div.mt-8.mx-auto.max-w-md
            div.dg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="correo") Correo
                        input#correo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder="Ingresa tu correo. ej: correo@finks.com" type="email" name="correo")
                    div
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder="Escribe una contraseña" type="password" name="password")
                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 cursor-pointer rounded-md" type="submit" value="Iniciar sesión")
                    div.flex.items-center.justify-between
                        a(class="text-gray-500 text-xs hover:text-indigo-400" href="/auth/registro") ¿No tienes cuenta? Registrate
                        a(class="text-gray-500 text-xs hover:text-indigo-400" href="/auth/olvide-password") Olvide mi contraseña